<?xml version="1.0"?>
<launch>

  <!--#>>>>TODO: LAUNCH A NODE TO PUBLISH AN STATIC TRANSFORMATION BETWEEN /map and /WORLD WITH A FREQ 100-->

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtle_vis)/launch/rvizConfigs/turtleTutorial.rviz"/>


    <!--LAUNCH RVIZ NODE -->
    <rosparam command="load" file="$(find turtle_vis)/launch/rvizConfigs/turtle_gains.yaml"/>

  <!--#>>>>TODO:LAUNCH TURTLE VISUALIZATION NODE-->
  <!--#>>>>TODO:LAUNCH TURTLE CONTROL NODE. AS PART OF THIS NODE LOAD THE YAML FILE WITH THE GAIN PARAMETERS (SEE rvizConfigs/turtle_gains.yaml)-->
     <node name="turtle_control_node" pkg="turtle_vis" type="turtle_control_node" >
     </node>

</launch>
